/* Variables */

:root {
  /* Base color */
  --color-primary: #013a63;
  --color-primary-light: #1887d6;
  --color-primary-dark: #012a4a;

  --color-secondary: #d90429;
  --color-secondary-light: #ef233c;
  --color-secondary-dark: #a3001b;

  --color-accent: #63c8ff;
  --color-white: #f5f5f3;
  --color-black: #192229;

  /* Messages color */
  --color-success: #3ec43e;
  --color-error: #ff5151;
  --color-warning: #ffee00;

  /* Text sizes */
  --size-xs: 0.7vw;
  --size-sm: 0.8vw;
  --size-md: 1.1vw;
  --size-lg: 1.6vw;
  --size-xl: 2vw;
  --size-2xl: 2.8vw;
  --size-3xl: 3.8vw;

  /* Tipografías */
  --font-primary: primary;
  --font-secondary: secondary;
}

/* Actualizar solo URL de las fuentes según convenga (convertir a formato woff) */

/* Primary Font */
@font-face {
  font-family: primary;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/arvo/arvo_regular.woff);
}

@font-face {
  font-family: primary;
  font-style: italic;
  font-weight: 400;
  src: url(../assets/fonts/arvo/arvo_italic.woff);
}

@font-face {
  font-family: primary;
  font-style: normal;
  font-weight: 600;
  src: url(../assets/fonts/arvo/arvo_bold.woff);
}

@font-face {
  font-family: primary;
  font-style: italic;
  font-weight: 600;
  src: url(../assets/fonts/arvo/arvo_bold_italic.woff);
}

@font-face {
  font-family: secondary;
  font-style: normal;
  font-weight: 200;
  src: url(../assets/fonts/onest/onest_thin.woff);
}

@font-face {
  font-family: secondary;
  font-style: normal;
  font-weight: 300;
  src: url(../assets/fonts/onest/onest_light.woff);
}

@font-face {
  font-family: secondary;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/onest/onest_regular.woff);
}

@font-face {
  font-family: secondary;
  font-style: normal;
  font-weight: 500;
  src: url(../assets/fonts/onest/onest_semi_bold.woff);
}

@font-face {
  font-family: secondary;
  font-style: normal;
  font-weight: 600;
  src: url(../assets/fonts/onest/onest_bold.woff);
}

@font-face {
  font-family: secondary;
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/onest/onest_extra_bold.woff);
}

@font-face {
  font-family: secondary;
  font-style: normal;
  font-weight: 800;
  src: url(../assets/fonts/onest/onest_black.woff);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

img,
picture,
video,
iframe,
figure {
  display: block;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}



strong {
  font-weight: 600;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-secondary);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  appearance: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  hyphens: manual;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

/*  Tableta  */
@media only screen and (max-width: 1024px) {
  :root {
    /* Text sizes */
    --size-xs: 14px;
    --size-sm: 15px;
    --size-md: 18px;
    --size-lg: 24px;
    --size-xl: 30px;
    --size-2xl: 40px;
    --size-3xl: 50px;
  }
}

/*  Móvil  */
@media only screen and (max-width: 768px) {
  :root {
    /* Text sizes */
    --size-xs: 14px;
    --size-sm: 14px;
    --size-md: 16px;
    --size-lg: 20px;
    --size-xl: 26px;
    --size-2xl: 32px;
    --size-3xl: 40px;
  }
}
