#footer {
  padding: 8% 5% 50px;
  background-color: var(--color-primary-dark);
  .column__1{
    .foot__item{
      h3{
        color: var(--color-secondary-light);
        font-size: var(--size-sm);
      }
      ul{
        li{
          a{
            color: var(--color-white);
            font-size: var(--size-sm);
          }
          .footer__logo {
            justify-content: space-around;
            picture {
              width: auto;
              height: auto;
              img {
                height: 70px;
                width: auto;
                object-fit: cover;
                object-position: center;
              }
            }
          }
        }
      }
      
      
    }
  }
  .copyright{
    margin-top: 5%;
    .copyright__item{
      span{
        display: inline-block;
        font-size: 14px;
        color: var(--color-white);
        a{
          font-size: inherit;
          display: inline-block;
          color: inherit;
          text-decoration: underline;
        }
      }
    }
  }
}