#Hero {
    padding: 5%;

    .column__2 {
        .col__left {
            justify-content: center;
        }

        .col__right {
            picture {
                height: 80vh;

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

#Intro {
    padding: 5%;

    .column__2 {
        .col__left {
            justify-content: space-between;
        }

        .col__right {
            flex-direction: row;
            gap: 5%;

            picture {
                width: 50%;

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

#RecentProducts {
    padding: 5%;
}