#hero {
    padding: 5%;

    .column__2 {
        .col__left {
            justify-content: center;
        }

        .col__right {
            picture {
                height: 80vh;

                img {
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}

#products__product {
    padding: 5%;
}