#hero {
    padding: 5%;

    .column__2 {
        .col__left {
            justify-content: center;
        }

        .col__right {
            picture {
                height: 80vh;

                img {
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}

#intro {
    padding: 5%;

    .column__2 {
        .col__left {
            justify-content: space-evenly;
        }

        .col__right {
            flex-direction: row;
            align-items: center;
            gap: 2.5%;

            picture {
                width: 50%;
                height: 50vh;

                img {
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}