---
import type { GetStaticPaths } from "astro";
import Layout from "../../../layouts/Layout.astro";
import CardProduct from "../../../components/ui/card/CardProduct";
import { Picture } from "astro:assets";
import {
  getAllCategoriesData,
  getAllProductsDataByCategory,
} from "../../../_data/product.data";

// getStaticPaths to obtain all slugs
export const getStaticPaths: GetStaticPaths = async () => {
  const category = await getAllCategoriesData();
  return category.map((category) => ({
    params: { category: category.category.slug.current },
  }));
};

//Current product data page
const { category } = Astro.params;
const productCategoryPage = await getAllProductsDataByCategory({ category });
console.log(productCategoryPage);
---

<Layout>
  <h1>
    Categorías y lista de productos que pertenecen a la categoría: {category}
  </h1>
  <ul class="listado__x3" role="list">
    {
      productCategoryPage.map((data) => (
        <CardProduct className="card__article" data={data} from="productos">
          <Picture
            src={data.card.img_card.media.url}
            alt={data.card.img_card.alt?.altText || ""}
            formats={["webp", "avif"]}
            fallbackFormat="jpeg"
            inferSize={true}
            quality={"high"}
            densities={[1.5, 2]}
          />
        </CardProduct>
      ))
    }
  </ul>
</Layout>
