---
import { getCompanyData } from "../../_data/company.data";
import CustomPortableText from "../../components/ui/portableText/CustomPortableText";
import Layout from "../../layouts/Layout.astro";
import "../../styles/privacy.css";

const privacyPage = await getCompanyData();
---

<Layout>
  <!--<meta name="robots" content="noindex"> -->
  <section id="hero">
    <h1>Aviso de Privacidad</h1>
  </section>
  <section>
    <CustomPortableText
      hasImg={false}
      data={privacyPage.policy.block_policy}
      client:only="react"
    />
  </section>
</Layout>
