---
import { getDataCompanyPrivacy } from "../../_data/company";
import type { Privacy } from "../../_types/company";
import PortableTextCustom from "../../components/ui/portableText";
import Layout from "../../layouts/Layout.astro";
import "../../styles/privacy.css";

const dataPrivacy: Privacy = await getDataCompanyPrivacy();
---

<Layout>
  <!--<meta name="robots" content="noindex"> -->
  <section id="hero">
    <h1>{dataPrivacy.heroH1}</h1>
  </section>
  <section>
    <PortableTextCustom data={dataPrivacy.avisoText} client:only="react"/>
  </section>
</Layout>
