---
import ScrollSmootherProvider from "../_lib/gsap/ScrollSmootherProvider";
import Footer from "../components/footer/Footer.astro";
import Nav from "../components/nav/Nav.astro";
import "../styles/_globals.css";
import "../styles/_reset.css";
import "../styles/nav.css";

const { title, desc, keywords } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <!-- <link rel="canonical" href="https://www.marker.com.mx/es/">-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || "Titulo de pagina"}</title>
    <meta name="description" content={desc || "Base de una descripción"} />
    <meta name="keywords" content={keywords || "0, 0, 0, 0"} />
  </head>
  <body>
    <Nav />
    <ScrollSmootherProvider client:only="react">
      <slot />
      <Footer />
    </ScrollSmootherProvider>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
