---
import { getCompanyData } from "../_data/company.data";
import ScrollSmootherProvider from "../_lib/gsap/ScrollSmootherProvider";
import Footer from "../components/footer/Footer.astro";
import Nav from "../components/nav/Nav.jsx";
import FormModal from "../components/ui/modal/FormModa";
import "../styles/_globals.css";
import "../styles/_reset.css";
import "../styles/nav.css";
import "@splidejs/react-splide/css";
import "@splidejs/react-splide";

const { title, desc, keywords } = Astro.props;
const companyData = await getCompanyData();
---

<!doctype html>
<html lang="es">
  <head>
    <!-- <link rel="canonical" href="https://www.marker.com.mx/es/">-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || "Titulo de pagina"}</title>
    <meta name="description" content={desc || "Base de una descripción"} />
    <meta name="keywords" content={keywords || "0, 0, 0, 0"} />
  </head>
  <body>
    <Nav data={companyData} client:load />
      <ScrollSmootherProvider client:only="react">
        <slot />
        <Footer client:load />
      </ScrollSmootherProvider>
    <FormModal client:load />
  </body>
</html>

<style>
  html,
</style>
